<nav>
    <div class="site-title">
        <a href="/"><h1>Alain's Gym</h1></a>
        <p>The best in town</p>
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/equipments/create">New Equipment</a>
        </li>
    </ul>
</nav>