<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, aperiam provident! At doloribus, voluptatum ullam minima illum corporis modi porro molestias repudiandae qui animi amet, veniam vitae aliquam veritatis quam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur, amet velit laboriosam a provident sapiente harum. Dolores eveniet incidunt maiores saepe sed, officia fugit voluptas magni architecto sit dicta!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam qui deserunt eligendi odio aspernatur ipsam corporis velit blanditiis architecto quae officiis ullam, dolorum at, corrupti non dolor aut dignissimos. Ratione.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>